---
name: CI

on:
  pull_request:
  push:
    branches:
      - 'develop'
      - 'master'
      - '*-stable'


concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  puppet:
    name: Puppet
    uses: voxpupuli/gha-puppet/.github/workflows/beaker.yml@v2
    with:
      pidfile_workaround: 'CentOS,AlmaLinux'
      rubocop: false
      cache-version: '1'
